*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.hero
{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
position: relative;
padding: 0 5%;
display: flex;
align-items: center;
justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo
{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content
{
    text-align: center;
}
/* .content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    margin-left: -394px

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: -369px;
} */
.video
{
    width: 2023px;
    height: fit-content;
}
.overlayText2 {
    position:absolute;
     top:55%;
     left:45%;
     z-index:1;
     font-size: 35px;
     text-decoration: none;
     color: #fff;
   }
   .overlayText {
    position: absolute;
    top: 40%;
    left: 34%;
    z-index: 1;
    font-size: 127px;
    color: #fff;
   }

   .Location
{
    background: #101010;
    width: 100%;
    padding: 100px 0px ;
}
.title h2{

    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box
{
    display: flex;
    justify-content: center;
    min-height: 400px;

}

.card
{

    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.para p
{
color: #fcfc;
font-size: 16px;
line-height: 27px;
margin-bottom: 25px;
}
.card .button
{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover
{
    background-color: transparent;
    border: 2px solid  #f9004d;
    cursor: pointer;
}
footer{
    background:#111;
    height: auto;
    width: 100vw;
    font-family:'Times New Roman', Times, serif;
    padding-top: 40px;
    color: white;
}
.footer-content
{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content h3{

    font-size:1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
.footer-content p
{

    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li
{

    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
}
.socials a:hover i
{
    color: aqua;
}
.footer-bottom
{

    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

